@import 'src/base';

.styledButton {
	min-width: 4rem;
	margin: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 2px;
	&:hover {
		cursor: pointer;
	}
	&:focus {
		outline: 0;
	}
	&:active {
		-webkit-box-shadow: inset 0px 0px 0.5rem #e0e0e0;
		-moz-box-shadow: inset 0px 0px 0.5rem #e0e0e0;
		box-shadow: inset 0px 0px 0.5rem #e0e0e0;
	}
	&:disabled {
		cursor: default;
		opacity: 0.5;
	}
}

.primaryButton {
	border-color: $button-primary-border;
	background-color: $button-primary-background;
	color: $button-primary-text;
	&:hover, &:focus {
		color: $button-primary-text-focus;
		border-color: $button-primary-border-focus;
		background-color: $button-primary-background-focus;
	}
	&:disabled {
		color: $button-disabled-text;
		border-color: $button-disabled-border;
		background-color: $button-disabled-background;
	}
}

.secondaryButton {
	border-color: $button-secondary-border;
	background-color: $button-secondary-background;
	color: $button-secondary-text;
	&:hover, &:focus {
		color: $button-secondary-text-focus;
		border-color: $button-secondary-border-focus;
		background-color: $button-secondary-background-focus;
	}
	&:disabled {
		color: $button-disabled-text;
		border-color: $button-disabled-border;
		background-color: $button-disabled-background;
	}
}